<!DOCTYPE html>
<html>
<head>
    <link href="css/style.css" rel="stylesheet">
    <title>{{title}}</title>
    <meta charset="utf-8" />
</head>
<body>
    <img class="phone" src="/assets/Group1.png" alt="ewew"> 
    <p class="mainInfo">
        Взгляните <br /> 
         на жизнь <br /> 
          иначе 
    </p>
    <header class="header">
        <a name = "start"></a>
        <div class="container">
            <nav class="nav">
                <a href="" class="logo">
                    <img class="logo-img" src="/assets/logo.jpg" alt="ewew"> 
                </a>
                <ul class="menu">
                    <li class="menuitem">
                        <a class="menu-link" href="#start">Главная</a>
                    </li>
                     <li class="menuitem_1">
                        <a class="menu-link" href="#photo">Фотографии</a>
                    </li>
                     <li class="menuitem_2">
                        <a class="menu-link" href="#price">Конкурс</a>
                    </li>
                     <li class="menuitem_3">
                        <a class="menu-link" href="#end">HTML Academy</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <button class="download">Скачать приложение 
    </button>

    <p class="underLogo">
        Доступно для iPhone, iPad, Android, <br /> 
         Windows Phone, OS X, Windows 8
    </p>

    <img class="logo-platforms" src="/assets/Group3.png" alt=""> 

    <header class="secondPage">
            <a name = "photo"></a>
       <p class="Title2">
         Устали от серости мегаполиса?<br />
            Нам есть, что вам<br />
                предложить!
        </p>

        <img class="grayPhone" src="/assets/Group4.png" alt=""> 

        <p class="grayPhoneText">
            Поднимает <br /> 
            Настроение
        </p>
        <img class="pinkPhone" src="/assets/Group5.png" alt="">

        <p class="pinkPhoneText">
            Меняет мир <br /> 
            вокруг
        </p> 
        <img class="smilePhone" src="/assets/Group6.png" alt=""> 

        <p class="smilePhoneText">
            Заводит <br /> 
            новых друзей
        </p>

         <p class="grey">
            Приложение позволит вам<br /> победить осеннюю хандру<br /> и депрессию буквально в<br /> несколько кликов!
        </p>

         <p class="pink">
            Сделайте снимок и<br /> украсьте его смайликомили<br /> или текстовой подписью, <br />чтобы усилить эффект
        </p>

         <p class="smile">
            Ставьте лайки,<br />  комментируйте, делитесь<br />  фотографиями с друзьямии<br />  заводите новых
        </p>

    </header>

    <header class="endOfsecondPage">
        <img class="timer" src="/assets/Group7.png" alt="">
         <p class="effect">
            Эффект на 24 часа!
        </p>

         <p class="txtUnderEffects">
            Британские ученые провели исследования и доказали,<br />что положительный эффект от использования приложения<br />
            длится целые сутки!
        </p>

        <p class="linkText">
            Узнать больше об исследовании
        </p>


    </header>

    <header class="reviews">

        <img class="leftArrow" src="/assets/leftarrow.png" alt=""> 
        <img class="rightArrow" src="/assets/rightarrow.png" alt=""> 
        <img class="quetes" src="/assets/quotes.png" alt=""> 
        <p class="comments">
            «Это приложение перевернуло мой мир и позволило по-новому взглянуть на<br />
            привычные серые вещи! А еще я познакомился со своей будущей женой в<br />
            комментариях к выложенной фотографии!»
        </p>

    </header>

    <header class="price">
            <a name = "price"></a>
        <img class="priceTable" src="/assets/Group8.png" alt="">

    </header>

    <header class="lastPage">
    <a name = "end"></a>
    <p class="contacts">
        Остались вопросы?<br />
        Свяжитесь с нами!
    </p>
                   
    <p class="number" href="">Звоните:</p>
    <p class="adress" href="">Приезжайте в гости:</p>
    <p class="email" href="">Пишите:</p>
    <p class="numberInfo" href="">+7 (812) 555-66-66</p>
    <p class="adressInfo" href="">ул. Большая<br /> Конюшенная, 19/8</p>
    <p class="emailInfo" href="">mail@htmlacademy.ru</p>
    </header>

    <header class="map">

    </header>

    


    
</body>
<html>